/* For vertical phones: */
@font-face{
    font-family: 'prestige';
    src: url('PrestigeEliteStd-Bd.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

body, * {
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
}

#phone{
  position: absolute;
  width: 100%;
  top: 250px;
  font-family:'prestige';
  text-align: center;
}

.hide{
  display: none;
}


@media (min-width: 376px) {
  /* For horizontal phones: */

  #phone{
    display: none;
  }

  .room{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  .hide{
    display: inline;
  }

  #title{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #doorbg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
  }

  #door{
    position: absolute;
    left: 46%;
    top: 39vh;
    width: 8%;
    height: 18%;
    cursor: pointer;
  }

  #cactus1{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
  }

  #bikebg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  .positionbike{
    position: absolute;
    left: 27.5vw;
    top: 22vh;
  }

  #bike{
    width: 45%;
    height: 45vh;
  }

  #bikeroll{
    position: relative;
    left: 42%;
    top: 23.4vh;
    width: 20%;
    /*height: 4vh;*/
    cursor: pointer;
  }

  #rotationsno{
    position: absolute;
    left: 0;
    top: 90vh;
    width: 100%;
    font-family: 'prestige';
    font-size: 100%;
    text-align: center;
  }

  #enter{
    position: absolute;
    left: 71%;
    top: 88.5vh;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    color: blue;
    background-color: white;
    border: 2px solid #0000ff;
    font-size: 100%;
  }

  .alert{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
  }

  #pearlbg{
    position: absolute;
    left: 0;
    top: 0;
  }

  #pearl1{
    position: absolute;
    left: 22%;
    top: 38vh;
    width: 17.7%;
  }

  #pearl2{
    position: absolute;
    left: 52%;
    top: 55vh;
    width: 12.6%;
  }

  #pearl3{
    position: absolute;
    left: 12%;
    top: 70vh;
    width: 10.6%;
  }

  #pearl4{
    position: absolute;
    left: 34%;
    top: 76vh;
    width: 11.8%;
  }

  #pearl5{
    position: absolute;
    left: 74%;
    top: 67vh;
    width: 11.2%;
  }

  #pearl6{
    position: absolute;
    left: 59%;
    top: 80vh;
    width: 7%;
  }

  #pearl7{
    position: absolute;
    left: 40%;
    top:  65vh;
    width: 5%;
  }

  .musicNote{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
  }

  #avocadoshape{
    position: absolute;
    left: 32%;
    top: 45vh;
    width: 35%;
  }

  #avocado{
    position: absolute;
    left: 32%;
    top: 45vh;
    width: 35%;
    display: none;
  }

  #avocadop{
    position: absolute;
    left: 6%;
    top: 50vh;
    width: 5%;
  }

  #avocadot{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #avocadoinput{
    position: absolute;
    left: 45.5%;
    top: 88.5vh;
    width: 10%;
    height: 6vh;
    border: 2px solid #000000;
    font-family: 'prestige';
    font-size: 100%;
    text-align: center;
  }

  #avocadoenter{
    position: absolute;
    left: 60%;
    top: 88.5vh;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 2px solid #000000;
    font-size: 100%;
  }

  #echo{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #mouth{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #mouthanswer{
    position: absolute;
    left: 45.5%;
    top: 88.5vh;
    width: 10%;
    height: 6vh;
    border: 2px solid #0000ff;
    font-family: 'prestige';
    font-size: 100%;
    text-align: center;
  }

  #mouthenter{
    position: absolute;
    left: 60%;
    top: 88.5vh;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    color: blue;
    background-color: white;
    border: 2px solid #0000ff;
    font-size: 100%;
  }

  #body{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #ice2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #icenoglow{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  #iceglow{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
  }

  #ice1{
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
  }


  #ice_2{
    position: absolute;
    left: 5%;
    top: 6vh;
    width: 5%;
  }

  #ice_2c{
    position: absolute;
    left: 5%;
    top: 6vh;
    width: 5%;
    cursor: pointer;
  }

  #ice_1{
    position: absolute;
    left: 60%;
    top: 20vh;
    width: 5%;
  }

  #ice_1c{
    position: absolute;
    left: 60%;
    top: 20vh;
    width: 5%;
    cursor: pointer;
  }

  #ice_3{
    position: absolute;
    left: 40%;
    top: 5vh;
    width: 2%;
    transform: rotate(20deg);
  }

  #ice_3c{
    position: absolute;
    left: 40%;
    top: 5vh;
    width: 2%;
    transform: rotate(20deg);
  }

  #ice_4{
    position: absolute;
    left: 80%;
    top: 90vh;
    width: 3%;
  }

  #ice_4c{
    position: absolute;
    left: 80%;
    top: 90vh;
    width: 3%;
  }

  #ice_5{
    position: absolute;
    left: 90%;
    top: 60vh;
    width: 3%;
    transform: rotate(-30deg);
  }

  #ice_5c{
    position: absolute;
    left: 90%;
    top: 60vh;
    width: 3%;
    transform: rotate(-30deg);
  }

  #ice_6{
    position: absolute;
    left: 18%;
    top: 80vh;
    width: 2%;
    transform: rotate(-30deg);
  }

  #ice_6c{
    position: absolute;
    left: 18%;
    top: 80vh;
    width: 2%;
    transform: rotate(-30deg);
  }

  #ice_7{
    position: absolute;
    left: 52%;
    top: 40vh;
    width: 2%;
    transform: rotate(30deg);
  }

  #ice_7c{
    position: absolute;
    left: 52%;
    top: 40vh;
    width: 2%;
    transform: rotate(30deg);
  }

  #ice_n1{
    position: absolute;
    left: 51%;
    top: 30vh;
    width: 2%;
    transform: rotate(30deg);
  }

  #ice_n1c{
    position: absolute;
    left: 51%;
    top: 30vh;
    width: 2%;
    transform: rotate(30deg);
  }

  #ice_n2{
    position: absolute;
    left: 12%;
    top: 30vh;
    width: 2%;
    transform: rotate(30deg);
  }

  #ice_n2c{
    position: absolute;
    left: 12%;
    top: 30vh;
    width: 2%;
    transform: rotate(30deg);
  }

  #ice_n3{
    position: absolute;
    left: 8%;
    top: 60vh;
    width: 3%;
  }

  #ice_n3c{
    position: absolute;
    left: 8%;
    top: 60vh;
    width: 3%;
  }

  #ice_n4{
    position: absolute;
    left: 50%;
    top: 70vh;
    width: 3%;
    transform: rotate(-30deg);
  }

  #ice_n4c{
    position: absolute;
    left: 50%;
    top: 70vh;
    width: 3%;
    transform: rotate(-30deg);
  }

  #ice_n5{
    position: absolute;
    left: 90%;
    top: 30vh;
    width: 3%;
    transform: rotate(-30deg);
  }

  #ice_n5c{
    position: absolute;
    left: 90%;
    top: 30vh;
    width: 3%;
    transform: rotate(-30deg);
  }

  #icetext{
    position: absolute;
    left: 0;
    top: 90vh;
    width: 100%;
    font-family: 'prestige';
    font-size: 100%;
    text-align: center;
  }

  #iceenter{
    position: absolute;
    left: 71%;
    top: 88.5vh;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 2px solid #000000;
    font-size: 100%;
  }

  #ending{
    position: absolute;
    left: 0;
    top: 80vh;
    width: 100%;
    font-family: 'prestige';
    font-size: 100%;
    text-align: center;
    color: #0000ff;
    line-height: 120%;
    display: none;
  }




}

@media (min-width: 768px) {
    /* For desktop: */
  #phone{
    display: none;
  }

  #rotationsno{
    font-size: 2vw;
  }

  #pearl4{
    position: absolute;
    left: 34%;
    top: 79vh;
    width: 11.8%;
  }

  #enter{
    left: 70%;
    top: 89vh;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 4px solid #0000ff;
    font-size: 150%;
  }


  #avocadoinput{
    left: 45.5%;
    top: 85vh;
    width: 10%;
    height: 6vh;
    border: 4px solid #000000;
    font-family: 'prestige';
    font-size: 2vw;
    text-align: center;
  }

  #avocadoenter{
    left: 60%;
    top: 85.6vh;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 4px solid #000000;
    font-size: 150%;
  }

  #mouthanswer{
    left: 45.5%;
    top: 85vh;
    width: 10%;
    height: 6vh;
    border: 4px solid #0000ff;
    font-family: 'prestige';
    font-size: 2vw;
    text-align: center;
  }

  #mouthenter{
    left: 60%;
    top: 85.6vh;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 4px solid #0000ff;
    font-size: 150%;
  }

  #icetext{
    font-size: 2vw;
  }

  #iceenter{
    left: 68%;
    top: 91vh;
    width: 100px;
    height: 50px;
    border: 4px solid #000000;
    font-size: 150%;
  }

  #ending{
    font-size: 2vw;
  }



}
